<h2 align = 'center'>Welcome <b>{{q.username}}</b></h2>
<br>
I think your email-id is <i>{{q.emailid}}</i>
<br>
Now i can show you your password and that is :-  {{q.password}}
<br><br>
What say lets change it ???     <form action = {% url "bookmarks:passwordupdate" %} method = "post">
				{% csrf_token %}
				<input type = "submit" value = "update">
				</form>
Shall we log out :   		<form action = {% url "bookmarks:logout" %} method = "post">
                                {% csrf_token %}
                                <input type = "submit" value = "logout">
                                </form>
Lets Proceed towards voting :   <form action = {% url "bookmarks:redirect" %} method = "post">
                                {% csrf_token %}
                                <input type = "submit" value = "Vote">
                                </form>
 

